<div class="backImage">
    <div class="header">
        <div class="logo">
          
        </div>
        <div class="title">
            <span>歌华有线标准地址信息管理系统</span>
        </div>
    </div>

    <div class="body">
        <div class="userPass">
            <div>
                <input class="userName"
                [(ngModel)] = "userName"
                placeholder="请输入账号">
            </div>
            <div>
                <input class="password" type="password"
                (keyup)="enter($event)"
                [(ngModel)] = "userPasswd"
                placeholder="请输入密码">
            </div>
            <div class="login">
                <div (click)=login()>
                    <span>登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</span>
                </div>          
            </div>
        </div>
        <div class="copyright">
            版权所有:北京歌华有线电视网络股份有限公司
        </div>
    </div>
</div>
