.modal-first-query{
    background-color: #fcfafa;
    position: relative;
    left: 1rem;
    width: 74rem;
    height: 6rem;
}
.smx-gh-frist-input{
   position: relative;
   left: 13rem; 
   margin-top: -0.2rem;
}
.smx-gh-first-inputspan{
    position: relative;
    left: 8rem;
    top: 1.5rem;
    width: 20rem;
}
.smx-gh-fristInputDiv{
    position: relative;
    left: 28rem;
    bottom: 4.5rem;
}
.smx-gh-queryButton{
    position: relative;
    left: 63rem;
    bottom: 3.7rem;
}
.smx-gh-frist-queryButton{
    height: 1.9rem;
    width: 4rem;
    border: 0;
    color: white;
    background-color: #2282b7;
    border-radius: 2px;
}
.smx-gh-simStyle{
    display: inline-block;
    margin-right: 2rem;
}
.smx-ghe-sim-Style{
    position: relative;
    left: 2rem;
    top: 1.5rem;
}
.smx-ghe-Journal-Style{
    position: relative;
    left: 6rem;
    top: 0.6rem;
    height: 3rem;
    &-type{
        position: relative;
        top: 0.4rem;
    }
    &-jconton{
        position: relative;
        bottom: 0.4rem;
        display: inline-block;
    }
}
.modal-Journal-query{
    background-color: #fcfafa;
    position: relative;
    left: 1rem;
    width: 74rem;
    height: 6rem;
    
}
.smx-gh-Journal-endData{
    display: inline-block;
    position: relative;
    left: 3rem;
}
.smx-gh-Journal-endDatass{
    display: inline-block;
    position: relative;
}
.smx-gh-Journal-operter{
    display: inline-block;
    position: relative;
    left: 4rem;
    bottom: 2.5rem;
}
.smx-gh-Journal-query{
    display: inline-block;  
    position: relative;
    left: 10rem;
    bottom: 3rem; 
}
.smx-gh-thinkspan{
    position: absolute;
    width: 211px;
    height: 200px;
    left: 600px;
    z-index: 9;
    top: 60px;
    border-bottom: 1px #1111;
    box-shadow: 0 3px 3px #ddd;
    border-spacing: 2px;
    border-collapse: initial;
    background-color: #fff;
}
.smx-gh-thinktable{
    height: 188px;
    margin: 4px 6px 6px;
    background: #f4fafa;
    position: relative;
    top: 0;
    border-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
.smx-gh-remcom{
    position: relative;
    right: 1rem;
    bottom: 0.7rem;
}
.smx-gh-addxie{
    display: inline-block;
    position: relative;
    left: 3rem;
    bottom: 1.5rem;
}
.smx-gh-Journal-query-add{
    display: inline-block;
    position: relative;
    left: 48rem;
    bottom: 10.2rem;
}
.modal-Journal-query-addupdata{
    background-color: #fcfafa;
    position: relative;
    left: 7rem;
    width: 60rem;
    height: 11rem;
}
::-webkit-scrollbar {
    width: 1px;
    height: 5px;
  }
.street-smx-gehua{
    left: 573px;
    top: 47px;
}
.addres-smx-gehua{
    left: 573px;
    top: 143px;
}
.slicom-smx-gehua{
    left: 573px;
    top: 109px;
}
.rescom-smx-gehua{
    left: 572px;
    top: 79px;
}
.smx-gh-biaozhu{
    position: relative;
    left: 22rem;
    bottom: 5.2rem;
}
